<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 读取控制器文件地址  设置控制器扫描路径 -->
	<context:component-scan base-package="stu.edu.my.controller"/>
	<!-- 让控制器加载默认的句柄 -->
	<mvc:default-servlet-handler/>
	<!-- 自动取消句柄 -->
	<mvc:annotation-driven>
		<!-- 设置ajax传递字符集 -->
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 指定内部视图解释器 返回jsp是一个字符串 给框架解释返回客户端 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 指定页面的地址 -->
		<property name="prefix" value="/WEB-INF/view/"></property>
		<!-- 所有.jsp的文件 -->
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 设置登录拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 表示拦截view下面的jsp文件 -->
			<mvc:mapping path="/student/**"/>
			<mvc:mapping path="/course/**"/>
			<mvc:mapping path="/grade/**"/>
			<mvc:mapping path="/tbClass/**"/>
			<mvc:mapping path="/teacher/**"/>
			<mvc:mapping path="/user/**"/>
			<mvc:exclude-mapping path="/index"/>
			<bean class="stu.edu.my.interceptor.SessionInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

</beans>
